<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class=" list-group">
            <a class=" list-group-item"
            [routerLink]="['/users', user.id, user.name]" routerLinkActive="router-link-active"
            *ngFor="let user of users">
                <div>
                  <h5>{{user.name}} ({{user.id}})</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <router-outlet></router-outlet>
    </div>
</div>
