<!-- main project  -->

<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->







<!-- <div>
  <h4>{{counter}}</h4>
  <div>
    <button class="btn btn-success" (click)="onStartCount()">Start Count</button>
    <button class="btn btn-danger" (click)="onStopCount()">Stop Count</button>
  </div>
</div> -->


<!-- <p appBasicHighlight>Hello Shakir</p>
<p appBetterHighlight [highlightColor]="'yellow'">From Better highlight</p>

<div [ngSwitch]="swValue">
  <div *ngSwitchCase="5">output 5</div>
  <div *ngSwitchCase="1">output 1</div>
  <div *ngSwitchCase="7">output 7</div>
  <div *ngSwitchDefault>output default</div>
</div>
-->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}"
              routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/servers">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
     <router-outlet></router-outlet>
    </div>
  </div>


</div> -->





<!-- angular form Template Driven -->
<!-- 
<div class=" container">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div id="user-data" ngModelGroup="userData"
    #userData="ngModelGroup">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control"
        ngModel
        required>
      </div>
      <button class="btn btn-primary shadow" type="button" (click)="suggestUsername()">Suggest an username</button>
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email"
         class="form-control"
         ngModel
         name="email"
         email
         required
         #email="ngModel">
         <span class="text-danger small" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
      </div>
    
    <span *ngIf="!userData.valid && userData.touched" class="text-danger small">User data is invalid</span>
    <div class="form-group">
      <label for="secret">Secrect Questions</label>
      <select class="form-control" id="secret"
      [ngModel]="defaultQuestion"
      name="secret">
        <option value="pet">Your first pet?</option>
        <option value="teacher">Your first teacher?</option>
      </select>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="questionAnswer" cols="30" rows="3"
      [(ngModel)]="answer"></textarea>
    </div>
    <p>Your reply: {{answer}}</p>
  </div>
    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input type="radio" name="gender"
        ngModel
        [value]="gender"
        required>
        {{gender}}
      </label>
    </div>
  
    <button class="btn btn-primary" type="submit"
    [disabled]="!f.valid">Submit</button>
  </form>
  
</div>

<hr>

<div class="row" *ngIf="submitted">
  <div class="col-sm-12">
    <h3>Your data</h3>
    <p>Username: {{ user.username }}</p>
    <p>Mail: {{ user.email }}</p>
    <p>Secret question: {{ user.secretQuestion }}</p>
    <p>Answer: {{ user.answer }}</p>
    <p>Gender: {{ user.gender }}</p>
  </div>
</div>
   -->



<!-- angular form Reactive -->
<app-reactive-form-exp></app-reactive-form-exp>
