<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row">
                <div class="form-group col-sm-7">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="name"  
                    placeholder="Enter name"
                    #nameInput>
                </div>
                <div class="form-group col-sm-5">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    style="max-width: 100px;" 
                    id="amount"
                    #amountInput>
                </div>
            </div>
          
            <div class="row">
                <div class="col-sm-12">
                    <button 
                    class="btn btn-success" 
                    type="button"
                    (click)="onAddItem()">Add</button>
                    <button class="btn btn-danger m-2" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>